# Dependencies
node_modules/
# package-lock.json
yarn.lock

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
temp/
.DS_Store

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Git не должен исключать результат парсинга
# nft-metadata.json 